# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# Databases
*.sqlite3
reports.sqlite3

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# OS/IDE
.vscode/
.idea/
Thumbs.db
desktop.ini
.DS_Store
